body{
    background-size: cover;
    background: url("star-wars-backgrounds-14.jpeg") no-repeat;
    height: 100%;
}

h1{
    color: whitesmoke;
    text-shadow: -2px -2px black;
}

table{
    text-align: center;
}