{% extends "layout.html" %}

{% block page_title %}
    Planets
{% endblock %}

{% block content %}
    <div class="modal fade" id="residentsModal" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Residents</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <div class="modal-body">
                    <table class="table table-responsive table-bordered mt-2 ml-3 mr-3">
                        <thead>
                        <tr class="row">
                            <th class="col">Name</th>
                            <th class="col">Height</th>
                            <th class="col">Mass</th>
                            <th class="col">Skin color</th>
                            <th class="col">Hair color</th>
                            <th class="col">Eye color</th>
                            <th class="col">Birth year</th>
                            <th class="col">Gender</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="container">
        <h1 class="h1">Star Wars Universe Planets</h1>
        <button id="previous" class="btn btn-outline-light mt-3">Previous</button>
        <button id="next" class="btn btn-outline-light mt-3">Next</button>
    <table class="table table-bordered table-dark mt-2">
        <thead>
        <tr class="row">
            <th class="col">Name</th>
            <th class="col">Diameter</th>
            <th class="col">Climate</th>
            <th class="col">Terrain</th>
            <th class="col">Surface water percentage</th>
            <th class="col">Population</th>
            <th class="col">Residents</th>
            <th class="col">Vote</th>
        </tr>
        </thead>
        <tbody id="tablebody">
        </tbody>
    </table>
    </div>
    <script src="../static/planets.js"></script>
    <script src="../static/residents.js"></script>
{% endblock %}